.main-container{
    width: 100%;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF1EC;
}

.filters{
    margin-left: 60px;
}

.categories{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    justify-content: flex-start;
    width: 20%;
    border-right:0.5px solid rgb(0, 0, 0);
    margin-bottom: 330px;
}

.category-heading{
    font-size: 30px;
    font-weight: 800;
    color:#106894;
    
}

.category-item{
    color: grey;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

.sub-category-items{
    margin-left: 30px;
    font-weight: 300;
    color: #CC7549;
    margin-top: 20px;
    font-size: 20px;
}

.categories Link,.categories Link:hover,.categories Link:visited,.categories Link:link,.categories Link:active{
    text-decoration: none;
    color: #CC7549;
}

.link{
    color: #CC7549;
    text-decoration: none;
    font-weight: 500;
}

.result{
    display: flex;
    justify-content: flex-start;
    /* margin-right: 150px; */
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    margin-right: 250px;
}
.result .desc{
    font-weight: 700;
    color: black;
    font-size: 20px;
    width: 90%;
    margin-top: 10px;
    
}

.desc2{
    color: grey;
    font-weight: 300;
    font-size: 16px;
    padding-left: 30px;
}