.product-heading{
    color: #106894;
    font-size: 30px;
    text-transform: uppercase;
    
}

.product-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}


.productDetails-container{
    width: 100%;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #FFF1EC;
    
    
}
.detail-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:30px;
    
    
}
.product-images{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-images{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.selected{
    width: 500px;
    /* transition: transform .2s;  */
    /* -webkit-transform: scale(1); */
/* -moz-transform: scale(1); */
/* -ms-transform: scale(1); */
/* -o-transform: scale(1); */
/* transform: scale(1); */
/* VERZÖGERUNG */
/* -webkit-transition: all 0.3s linear; */
/* -moz-transition: all 0.3s linear; */
/* -ms-transition: all 0.3s linear; */
/* -o-transition: all 0.3s linear; */
/* transition: all 0.3s linear; */
}

.img-wrapper{
    overflow:hidden;
  }
img.selected:hover {
    /* transform: scale(1.25); */
    /* -webkit-transform: scale(1.5);
-moz-transform: scale(1.5);
-ms-transform: scale(1.5);
-o-transform: scale(1.5);
transform: scale(1.5); */
  }
.small-images img{
    width: 100px;
    cursor: pointer;
}
.details{
    display: flex;
    justify-content: left;
    text-align: left;
    padding-left: 120px;
    flex-direction: column;
    
}
.name{
    font-weight:700 ;
    font-size: 30px;
}

.stock{
    color: green;
    margin-top: 20px;
    font-size: 14px;
    text-transform: uppercase;
}
.detail{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin-top: 30px;
}
.detail-para{
    margin-top: 30px;
    font-size: 22px;
    width: 30vw;
}



.char{
    width: 100%;
    display: flex;
    justify-content: space-between;
}





.add{
    background-color:#EE9776 ;
    color: white;
    border: none;
    outline: none;
    
}

.buyNow{
    border: 2px solid #EE9776;
    color: #EE9776;
    background-color: white;
    margin-left: 160px;
}

.similar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.similar-heading{
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 100px;
}


.view-more{
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: #EE9776;
}

.tabs{
    width: 100%;
    padding-left:20px;
    padding-right: 20px;
    padding-bottom: 100px;
    margin-top: 30px;

}


.tab-buttons{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
}

.tab-buttons button{
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    outline: none;
    width: 250px;
    text-align: center;
    background-color: transparent;
    font-size: 24px;
    
}

button.active{
    border: 2px solid #106894;
    color: #106894;
}

.desc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 60px;
    color: black;
}

.desc span{
    margin-top: 20px;
    font-size: 14px;
}

.reviews-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.write-review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}
.write-review textarea{
    width: 100%;
    height: 150px;
    border: none;
    outline: none;
    padding: 20px;
    margin-top: 50px;
}

.write-review button{
    width: 150px;
    border: 2px solid #EE9776;
    color: #EE9776;
    text-align: center;
    padding: 5px;
    background-color: transparent;
    margin-top: 30px;

}


.big-text{
    font-size: 22px;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: left;
}

.review-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.review-item{
    display: flex;
    flex-direction: column;
    border-left: 2px solid black;
    margin-top: 30px;
    width: 100%;
}

.user-name{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.verified{
    color: grey;
    letter-spacing: 3px;
    font-size: 14px;
    text-transform: uppercase;
}

.review-text{
    font-size: 12px;
}

.prices{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 30px;
    font-weight: 500;
}
.striked{
    color: grey;
    text-decoration: line-through;
}

.purchase{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.outlined{
    width: 40%;
    border: 2px solid #EE9776;
    color: #EE9776;
    text-align: center;
    background: transparent;
    padding: 5px 0;
}

.purchase input{
    width: 50%;
    padding: 5px;
    outline: none;
    border: none;
}
.addcart{
    background-color: #EE9776;
    border: none;
    outline: none;
    padding: 10px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    
    width: 47%;
}

.characteristics{
    margin-top: 20px;
    color: grey;
    font-size: smaller;
}

.size{
    margin-left: 50px;
    text-decoration: underline;
    cursor: pointer;
    text-transform: uppercase;
}
.know-your-size{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 50%;

}

.sec span,.sec img{
    margin-top: 20px;
}

@media screen and (max-width:760px){
    .detail-container{
        flex-direction: column;
        padding: 30px;
    }
    .product-images{
        width: 100%;
    }
    .details{
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
    .detail-para{
        width: 100%;
    }
    .characteristics{
        justify-content: center;
        width: 100%;
    }
    .purchase-btn{
        flex-direction: column;
        padding: 20px;
        margin-top: 10px;
    }
    .purchase-btn button{
        width: 80%;
    }
    .buyNow{
        margin-left: 0;
        margin-top: 20px;
    }
    .similar-heading{
        margin-top: 50px;
        text-align: center;
        position: relative;
        right: 2.5rem;
    }
}