.cart-product{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.cart-product img{
    width: 75px;
}

.popover{
    width: 250px;
    
    border: 0.2px solid rgba(209, 209, 209, 0.582);
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price{
    font-weight: 300;
    color: grey;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.subtotal{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    font-weight: 600;
}

.links{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
}