.test-container{
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.test-container h3{
    font-size: 60px;
    width: 30%;
}

.review-carouesl{
    background-color: white;
    width: 60%;
}

.review-item{
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 20px;

}
.review-item p{
    font-size: 12px;
    margin-top: 20px;
}

.user{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user img{
    border-radius: 50%;
    width: 50px;

}

.user-detail{
    display: flex;
    flex-direction: column;
}